body {
  padding-top: 70px;
}
::-webkit-scrollbar { 
    display: none; 
}

.highlight td{
	background-color:#18BC9C;
	color:white;
}
.table tr:hover{
	cursor:pointer;
}

.main {
	padding-left: 50px;
}
h3 {
	text-align: left;
	margin-bottom: 30px;
}
.logo {
	padding: 5px 5px 0 5px;
	margin-right: 20px;
}
.control-label {
	padding-top: 10px;
}

.form-control {
	min-width: 200px; 
}
.add button {
	float: right;
	margin-right: 15px;

}
.pozicaj button {
	float: right;
	margin-bottom: 40px;

}
.table {
	text-align: center;
	vertical-align: center;
}

.table th {
	text-align: center;
}
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
.testing button {
	float: right;
	
}

.pozicaj {
	margin: 50px;
}

.strankovanie {
	text-align: right;
	margin-right: 0px;
}
.kontakt {
	margin: 13px 0 0 0;
}
.aktualizujkontakt {
	margin: 20px;
}

.modal-dialog  {width:1200px;}

.group1 {
	background-color: #ecf0f1;
	padding: 10px 10px 30px 10px;
	border-radius: 10px;
}
.unfinished {
	background-color: #e74c3c;
	color: white;
	border-bottom: 1px solid white;
}
.complete {
	background-color: #2ecc71;
	color: black;
	border-bottom: 1px solid white;
}
